

h1 {
    color: aqua;
}

.heading {
    color: blue;
}

.subheading {
    color: brown;
}

p.subheading {
    color: yellow;
}

#sidebar {
    color: violet;
}

div p span {
    color: teal;
}

p.units {
    font-size: 16px;
    font-variant: small-caps;
    text-indent: 2em;
    word-spacing: 1em;
    line-height: 1.5;
}


p.units1 {
    color: brown;
    font-size: 1em;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 1em;
}

body {
    background-color: darksalmon;
}

.box1 {
    background-color: darkviolet;
    height: 200px;
    width: 200px;
    margin-top: 6em;
}


.box2 {
    background-color: darkslateblue;
    height: 200px;
    width: 200px;
    padding: 20px;
}


.box3 {
    background-color: darkslategray;
    color: red;
    height: 200px;
    width: 200px;
    padding: 20px;
    border: 10px ridge blue;
    opacity: .7;
}
